:root{
    --background-color:#8080fd;
    --text-color:antiquewhite;
    --underline-color:#dd8d60;
    --margin:20px;
}

body{
    background-color: var(--background-color);
    color:var(--text-color);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left:var(--margin);
    margin-right:var(--margin)

}

.header{
    border-bottom:1px solid var(--text-color);
}

p{
    margin-top:35px;
}

a{
    text-decoration: none;
    color:var(--text-color);
    background-color: var(--background-color);
    padding:10px 20px;
    font-weight: 500;
    transition: 200ms;
}

a:hover{
    border-radius:20px;
    background-color: var(--underline-color);
    color:var(--text-color);
}

.main{
    margin-top:110px;
    display:inline;

}
p{
    font-weight: 400;
}